<div class="col-lg-12">
  <div class="bs-component">
    <%= form_for(@user, url: yield(:url), class: 'form-horizontal') do |f| %>
      <fieldset>
        <div class="form-group">
          <%= f.label :企業コード, class: 'mr5' %>
          <span class="label label-danger">必須</span>
          <%= f.text_field :company_code, class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= f.label :名前, class: 'mr5' %>
          <% if controller.action_name == "new" || controller.action_name == "create" %>
            <span class="label label-danger">必須</span>
            <%= f.text_field :name, class: 'form-control', required: true %>
          <% else %>
            <%= f.text_field :name, class: 'form-control' %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :メールアドレス, class: 'mr5' %>
          <span class="label label-danger">必須</span>
          <%= f.email_field :email, class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード, class: 'mr5' %>
          <% if controller.action_name == "new" || controller.action_name == "create" %>
            <span class="label label-danger">必須</span>
            <%= f.password_field :password, class: 'form-control', required: true %>
          <% else %>
            <%= f.password_field :password, class: 'form-control' %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード確認, class: 'mr5' %>
          <% if controller.action_name == "new" || controller.action_name == "create" %>
            <span class="label label-danger">必須</span>
            <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
          <% else %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :部署名, class: 'mr5' %>
          <% if controller.action_name == "new" || controller.action_name == "create" %>
            <span class="label label-danger">必須</span>
            <%= f.text_field :department_name, class: 'form-control', required: true %>
          <% else %>
            <%= f.text_field :department_name, class: 'form-control' %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :スラックID, class: 'mr5' %>
          <% if controller.action_name == "new" || controller.action_name == "create" %>
            <span class="label label-danger">必須</span>
            <%= f.text_field :slack_id, class: 'form-control', required: true %>
          <% else %>
            <%= f.text_field :slack_id, class: 'form-control' %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :プロフィール写真, class: 'mr5' %>
          <% if controller.action_name == "new" || controller.action_name == "create" %>
            <span class="label label-danger">必須</span>
            <%= f.text_field :profile_img, class: 'form-control', required: true %>
          <% else %>
            <%= f.text_field :profile_img, class: 'form-control' %>
          <% end %>
        </div>
        
        <div class="form-group">
          <%= f.submit yield(:button_text), class: "btn btn-primary" %>
          <%= link_to "戻る", :back, class: "btn btn-success" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
